Hackaton January 2023

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/corona_tested_00229.csv', low_memory=False)
df.head()

,test_date,cough,fever,sore_throat,shortness_of_breath,head_ache,corona_result,age_60_and_above,gender,test_indication
0,2022-03-03,0,0,0,0,0,חיובי,No,נקבה,Other
1,2022-03-03,0,0,0,0,0,חיובי,No,זכר,Other
2,2022-03-03,0,0,0,0,0,חיובי,No,זכר,Other
3,2022-03-03,0,0,0,0,0,חיובי,No,נקבה,Other
4,2022-03-03,0,0,0,0,0,חיובי,No,נקבה,Abroad

In [3]:
df['corona_result_eng'] = df['corona_result'].map({'שלילי' : 'negative', 'חיובי' : 'positive', 'אחר' : 'other'})
df['gender_eng'] = df['gender'].map({'זכר' : 'male', 'נקבה' : 'female'})

In [4]:
df1 = df.copy()

In [5]:
df1['age_binary'] = df1['age_60_and_above'].map({'Yes' : 1, 'No' : 0})
df1['gender_binary'] = df1['gender_eng'].map({'male' : 1, 'female' : 0})
df1['contact'] = df1['test_indication'].map({'Contact with confirmed' : 1, 'Abroad' : 0, 'Other' : 0})
df1['corona_result_binary'] = df1['corona_result_eng'].map({'positive' : 1, 'negative' : 0})

In [6]:
df1.isna().sum()

test_date                     0
cough                         0
fever                         0
sore_throat                   0
shortness_of_breath           0
head_ache                     0
corona_result                 0
age_60_and_above        2049339
gender                   665631
test_indication               0
corona_result_eng             0
gender_eng               665631
age_binary              2049339
gender_binary            665631
contact                       0
corona_result_binary     196486
dtype: int64

In [7]:
df1['corona_result_eng'].value_counts()

negative    8021753
positive     928930
other        196486
Name: corona_result_eng, dtype: int64

In [8]:
df1.columns

Index(['test_date', 'cough', 'fever', 'sore_throat', 'shortness_of_breath',
       'head_ache', 'corona_result', 'age_60_and_above', 'gender',
       'test_indication', 'corona_result_eng', 'gender_eng', 'age_binary',
       'gender_binary', 'contact', 'corona_result_binary'],
      dtype='object')

In [9]:
df1.tail()

,test_date,cough,fever,sore_throat,shortness_of_breath,head_ache,corona_result,age_60_and_above,gender,test_indication,corona_result_eng,gender_eng,age_binary,gender_binary,contact,corona_result_binary
9147164,2020-03-11,1,0,0,0,0,אחר,NaN,נקבה,Abroad,other,female,NaN,0.0,0,NaN
9147165,2020-03-11,1,0,0,0,0,שלילי,NaN,זכר,Abroad,negative,male,NaN,1.0,0,0.0
9147166,2020-03-11,0,0,0,0,0,שלילי,NaN,נקבה,Other,negative,female,NaN,0.0,0,0.0
9147167,2020-03-11,0,0,0,0,0,שלילי,NaN,נקבה,Abroad,negative,female,NaN,0.0,0,0.0
9147168,2020-03-11,1,0,0,0,0,שלילי,NaN,זכר,Abroad,negative,male,NaN,1.0,0,0.0

In [10]:
to_drop = ['corona_result', 'age_60_and_above', 'gender', 'test_indication', 'corona_result_eng', 'gender_eng']
clean_df = df1.drop(to_drop, axis=1)
clean_df.dropna(inplace=True)

In [11]:
clean_df['test_date'] = pd.to_datetime(clean_df['test_date'], yearfirst=True)

In [12]:
clean_df.head()

,test_date,cough,fever,sore_throat,shortness_of_breath,head_ache,age_binary,gender_binary,contact,corona_result_binary
0,2022-03-03,0,0,0,0,0,0.0,0.0,0,1.0
1,2022-03-03,0,0,0,0,0,0.0,1.0,0,1.0
2,2022-03-03,0,0,0,0,0,0.0,1.0,0,1.0
3,2022-03-03,0,0,0,0,0,0.0,0.0,0,1.0
4,2022-03-03,0,0,0,0,0,0.0,0.0,0,1.0

In [13]:
march_apr_2020 = (clean_df['test_date'] >= '2020-03-22') & (clean_df['test_date'] <= '2020-04-07')
sept_oct_2020 = (clean_df['test_date'] >= '2020-09-05') & (clean_df['test_date'] <= '2020-10-02')
dec_20_jan_21 = (clean_df['test_date'] >= '2020-12-24') & (clean_df['test_date'] <= '2021-01-20')
aug_sept_2021 = (clean_df['test_date'] >= '2021-08-08') & (clean_df['test_date'] <= '2021-09-04')
jan_feb_2022 = (clean_df['test_date'] >= '2022-01-05') & (clean_df['test_date'] <= '2022-02-01')
feb_march_2022 = (clean_df['test_date'] >= '2022-02-01')

In [15]:
first_wave_df = clean_df.loc[march_apr_2020]
second_wave_df = clean_df.loc[sept_oct_2020]
third_wave_alpha = clean_df.loc[dec_20_jan_21]
fourth_wave_delta = clean_df.loc[aug_sept_2021]
fifth_wave_omicron = clean_df.loc[jan_feb_2022]
df_last_data = clean_df.loc[feb_march_2022]

In [21]:
first_wave_df.to_csv('first_wave_processed.csv')
second_wave_df.to_csv('second_wave_processed.csv')
third_wave_alpha.to_csv('third_wave_alpha_processed.csv')
fourth_wave_delta.to_csv('fourth_wave_delta_processed.csv')
fifth_wave_omicron.to_csv('fifth_wave_omicron_processed.csv')